########################################
# Dependencias
########################################
node_modules/

########################################
# Builds / distribución
########################################
dist/
dist-ssr/
.angular/

########################################
# Logs
########################################
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

########################################
# Entornos / credenciales
########################################
.env
.env.*

########################################
# Herramientas / IDE
########################################
.vscode/
.idea/

########################################
# Misc del sistema operativo
########################################
Thumbs.db
Desktop.ini
.DS_Store
